*{
box-sizing: border-box;
}
.envoltorio footer #contenidofooter{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgb(235, 204, 255);
}