*{
box-sizing: border-box;
}

.envoltorio{
    display: flex;
    flex-direction: column;
    margin: auto 0;
}
.envoltorio main img{
    width: 100%;
    border: #573C09 solid 0.5px;
    margin: 0%;
}
.envoltorio footer #contenidofooter{
    
    border: #573C09 solid 0.5px;
    display: flex;
    align-items: safe;
    justify-content: space-around;
    flex-direction: row;
    background-color: #ffefe0;
    color:#573C09;
    margin-top: 0%;
    
    
}
#contenidofooter section{
    border-left: #573C09 solid 0.5px;
    border-right: #573C09 solid 0.5px;
    padding: 5px;
    text-align: center;
    width: 100%;
}